<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="section/header :: head"></head>

<body>
    <div  th:fragment="dashboard">
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">blank</h1>
                </div>
            </div>

            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
</body>

<footer th:include="section/footer :: footer"></footer>
</html>
