<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="section/header :: head"></head>
<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" th:if="${backPath != null}"/>

<body style="background: #ffffff">
<div class="row" th:style="'display:'+ @{${backPath != null} ? 'block' : 'none'}+''">
    <div class="col-md-2">
        <p style="margin: 10px 0px 5px 15px;">
            <button type="button" class="btn btn-block btn-success"
                    th:onclick="'showPart(\'/project/toList?projectId='+${projectId}+'\')'">
                <i class="fa fa-arrow-circle-o-left">返回</i>
            </button>
        </p>
    </div>
</div>

<div class="row" th:style="@{${backPath != null} ? 'margin: 5px 5px 5px 5px;' : ''}">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="glyphicon glyphicon-tasks" style="color:#f44336;"></span>&nbsp;任务跟踪</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool"
                            th:onclick="'showPart(\'/task/toAdd?projectId='+*{project.projectId}+'&backPath=/task/toList?projectId='+*{project.projectId}+'\')'">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" onclick="removeTask()">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <input id="delTask" type="hidden" value=""/>
                <table class="table table-hover" id="task-table">
                    <tr>
                        <th>Jira项目英文简称</th>
                        <th>任务情况</th>
                        <th>版本信息</th>
                    </tr>
                    <tr th:each="jira : ${project.jiraProjects}" th:object="${jira}" th:data="*{jiraProjectId}">
                        <td><a href="#" th:onclick="'showIframe(\''+*{webui}+'\')'">
                                <span th:text="*{jiraProjectKey}"></span></a></td>
                        <td>任务总数（<label class="text-blue" th:text="*{allIssues}"></label>）&nbsp;/&nbsp;已完成（<label class="text-green" th:text="*{finishIssues}"></label>）</td>
                        <td>
                            <ul class="chart-legend clearfix">
                                <li th:each="version : *{projectVersions}" th:object="${version}">
                                    <i class="fa fa-arrow-circle-o-up text-green" th:text="*{name}"></i>
                                    <small class="label-primary" style="margin-left: 30px;" th:if="*{archived == true}">归档</small>
                                    <small class="label-danger" style="margin-left: 30px;" th:if="*{archived == false} and *{released == false}">未发布</small>
                                    <small class="label-info" style="margin-left: 30px;" th:if="*{archived == false} and *{released == true}">已发布</small>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-footer -->
        </div>

    </div>

</div>

<div class="row" th:style="@{${backPath != null} ? 'margin: 5px 5px 5px 5px;' : ''}">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="glyphicon glyphicon-th-large" style="color:#59b38d;"></span>&nbsp;模块信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover" id="component">
                    <tr>
                        <th>模块</th>
                        <th>任务</th>
                        <th>负责人</th>
                        <th>描述</th>
                    </tr>
                </table>
            </div>
            <!-- /.box-footer -->
        </div>

    </div>

</div>

<div class="row" th:style="@{${backPath != null} ? 'margin: 5px 5px 5px 5px;' : ''}">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="glyphicon glyphicon-tag" style="color:#7c68fd;"></span>&nbsp;下一版本</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <h4 style="display: inline;vertical-align:middle;">版本 0.3</h4>
                <small class="label" style="background-color:#f6c342;margin-left: 10px">未发布</small>
                <p class="text-muted" style="height:30px;line-height:30px;"><i class="fa fa-calendar-check-o"></i>开始：30/四月/18<span
                        style="margin-left: 20px">发布：25/五月/18</span></p>
                <p style="height:30px;line-height:30px;">集成版本</p>
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">
                            <span style="display: inline-block;font-size: 40px;">0</span>
                            <span style="display: inline-block;line-height: 1.3;margin-left: 5px;"> <br> 警告</span></a>
                        </li>
                        <li><a href="#tab_2" data-toggle="tab">
                            <span style="display: inline-block;font-size: 40px;">1</span>
                            <span style="display: inline-block;line-height: 1.3;margin-left: 5px;">当前版本 <br> 个问题</span></a>
                        </li>
                        <li><a href="#tab_3" data-toggle="tab">
                            <span style="color:#14892c; display: inline-block;font-size: 40px;">1</span>
                            <span style="display: inline-block;line-height: 1.3;margin-left: 5px;">问题 <br> 已完成</span></a>
                        </li>
                        <li><a href="#tab_4" data-toggle="tab">
                            <span style="color:#ffd351; display: inline-block;font-size: 40px;">0</span>
                            <span style="display: inline-block;line-height: 1.3;margin-left: 5px;">问题 <br> 正在处理</span></a>
                        </li>
                        <li><a href="#tab_5" data-toggle="tab">
                            <span style="color:#4a6785; display: inline-block;font-size: 40px;">0</span>
                            <span style="display: inline-block;line-height: 1.3;margin-left: 5px;">问题 <br> 待处理</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            太棒了! 这个版本没有任何警告信息。
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <table class="table table-hover">
                                <tr>
                                    <th>优先级</th>
                                    <th>键</th>
                                    <th>概要</th>
                                    <th>经办人</th>
                                    <th>状态</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>ADLM-27</td>
                                    <td>Confluence模板使用研究</td>
                                    <td>Confluence模板使用研究</td>
                                    <td>已解决</td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                            <table class="table table-hover">
                                <tr>
                                    <th>优先级</th>
                                    <th>键</th>
                                    <th>概要</th>
                                    <th>经办人</th>
                                    <th>状态</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>ADLM-27</td>
                                    <td>Confluence模板使用研究</td>
                                    <td>Confluence模板使用研究</td>
                                    <td>已解决</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane" id="tab_4">
                            目前还没有问题正在进行中
                        </div>
                        <div class="tab-pane" id="tab_5">
                            没有待处理问题
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    jQuery(function ($) {
        $("#task-table tr").not(":eq(0)").click(function () {
            $("#task-table tr").removeAttr("style");
            $(this).attr("style", "background-color: #ebf2f9;");
            $("#delTask").val($(this).attr("data"));

            $.ajax({
                type: "POST",
                url: "/task/component/" + $(this).attr("data"),
                data: {},
                success: function(data){
                    if (data != null) {
                        let html = "";
                        for (let i = 0; i < data.length; i++) {
                            html += "<tr><td>" + data[i].name + "</td>";
                            html += "<td><a href='#' onclick='window.open(\"" + data[i].self + "\")'>"
                                + (data[i].issues !== undefined ? data[i].issues : "0") + " Tasks</a></td>";
                            html += "<td>" + (data[i].displayName !== undefined ? data[i].displayName : "") + "</td>";
                            html += "<td>" + data[i].description + "</td></tr>";
                        }
                        $("#component tr").not(":eq(0)").remove();
                        $("#component").append(html);
                    }
                }
            });
        });

        $("#task-table tr:eq(1)").click();

    });

    function removeTask() {
        let value = $("#delTask").val();
        let projectId = /*[[${project.projectId}]]*/ null;

        if (value === "") {
            alert("请选择需要解绑的Jira项目！");
        } else {
            confirm('确认要解绑吗？',
                function(){
                    $.ajax({
                        type: "POST",
                        url: "/task/remove",
                        data: {"jiraId": value},
                        success: function(data){
                            if (data != null) {
                                showDetail(projectId);
                            }
                        }
                    });
                });
        }
    }

    /*]]>*/
</script>
</body>

</html>