<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="section/header :: head"></head>

<body>
<div th:fragment="dashboard">
    <section class="content-header">
        <h1>
            查询/维护Jira项目
            <small>preview</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">任务跟踪</a></li>
            <li class="active">查询/维护Jira项目</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box">
                    <div class="box-header">
                        <small>按 优先级 排序</small>
                        <div class="box-tools" id="project-list-paging">

                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked" id="project-list-ul">

                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-md-9" id="project-detail">

            </div>
        </div>
    </section>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let projectId = /*[[${projectId}]]*/ null;

    $(function () {
        let data = get("/project/page/1/10", {});
        fillPage(data.content);

        $("#project-list-paging").Page({
            totalPages: data.totalPages,//分页总数
            liNums: 3,//分页的数字按钮数(建议取奇数)
            activeClass: 'activP', //active 类样式定义
            hasFirstPage: false,
            hasLastPage: false,
            callBack: function (page) {
                let pageData = get("/project/page/" + page + "/10", {});
                fillPage(pageData.content);
            }
        });

        $(".nav > li > a").click(function () {
            $(".nav > li > a").removeAttr("style");
            $(this).attr("style", "background-color: #ebf2f9;");
        });

        if (projectId == null) {
            $("#project-list-ul li:eq(0)").find("a").click();
        } else {
            showDetail(projectId);
        }

    });

    function fillPage(data) {
        jQuery("#project-list-ul li").remove();
        var htm = '';
        for (let i in data) {
            htm += '<li><a href="#" ';
            if (projectId === data[i].projectId) {
                htm += 'style="background-color: #ebf2f9;" ';
            }
            htm += 'onclick="showDetail(' + data[i].projectId + ')">';
            htm += '<i class="' + (data[i].status === 'START' ? 'fa fa-fw fa-plus-square text-success' : 'fa fa-fw fa-power-off text-danger')
                + '" style="text-align:left;width:100%;">&nbsp;<span>' + data[i].projectKey + '</span></i>';
            htm += '<p class="text-primary list-group-item-text">' + data[i].projectName + '</p>';
            htm += '</a></li>';
        }
        jQuery("#project-list-ul").append(htm);
    }

    function showDetail(projectId) {
        $("#project-detail").load("/task/preview/" + projectId, {}, function () {
        });
    }

    /*]]>*/
</script>

</body>
<footer th:include="section/footer :: footer"></footer>

</html>