<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="section/header :: head"></head>
<body>
    <div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">首页</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <span style="margin-left: 30%"><strong>欢迎使用全生命周期管理平台</strong></span>
                        </div>
                        <div class="panel-body" style="min-height:700px">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer th:include="section/footer :: footer"></footer>
</html>