<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="section/header :: head"></head>
<link rel="stylesheet" th:href="@{/css/loading.css}">

<body class="sidebar-mini skin-blue-light">
  <div class="wrapper" id="wrapper">

    <header class="main-header" th:replace="section/wrap-header :: wrap-header"></header>

    <aside class="main-sidebar" th:replace="section/leftside :: leftside"></aside>

    <div class="content-wrapper" id="content-wrapper">
      <iframe id="mainframe" width="100%" height="900" frameborder="0" src="pages/shouye.html" onLoad="javascript:mainframeShow()"></iframe>
    </div>

    <div id="loading" style="display:none">
      <img th:src="@{img/loader.gif}">
    </div>

    <div id="wrap-footer" th:replace="section/wrap-footer :: wrap-footer"></div>
    <div id="rightside" th:replace="section/rightside :: rightside"></div>
  </div>


</body>
<script type="text/javascript">
function mainframeShow(){
  //if ($("#mainframe").readyState == 'complete') {
    $("#loading").hide();
    //$("#mainframe").show();
  //}
}
</script>

<footer th:include="section/footer :: footer"></footer>

</html>