<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="section/header :: head"></head>
<link rel="stylesheet" th:href="@{/css/Layout.css}"/>
<link rel="stylesheet" th:href="@{/css/Reset.css}"/>
<link rel="stylesheet" th:href="@{/css/Particle.css}"/>
<style type="text/css">
    body {
        background: #F5F5F5;
    }

    .row {
        margin-left: -0.5px;
        margin-right: -0.5px;
    }

    .col-md-4 {
        padding-left: 0.5px;
        padding-right: 0.5px;
    }

    .info-box {
        margin-bottom: 1px;
        min-height: 110px;
    }

    .info-box-icon {
        height: 110px;
        width: 110px;
        font-size: 55px;
        line-height: 110px;
    }

    .info-box-content {
        margin-left: 110px;
    }

    .info-box-number {
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .info-box-text {
        margin-bottom: 5px;
    }
</style>
<body>

<header>
    <div class="header-wrap">
        <div id="header-logo"><img th:src="@{/img/logo.png}"></div>
    </div>
</header>

<!--
研发管理辅助工具 标题区域
-->
<div class="content_item">
    <!--头部倾斜渐变填充-->
    <div class="content_head_bg" id="particles-js">
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1841" height="768"></canvas>
    </div>
    <div class="content_wrap">
        <!--研发管理辅助工具-标题-->
        <div class="content_head">
            <h1>应用研发全生命周期管理平台</h1>
            <h2>高效 敏捷 智能</h2>

            <ul class="content_ul">

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-tasks" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>任务跟踪</h1>

                    </div>

                    <div class="content_bottom">

                        <p>采用JIRA作为研发任务跟踪、缺陷跟踪、需求收集、项目跟踪和敏捷管理工具</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation" th:if="${#lists.size(servers['JIRA']) == 1}">
                                <a th:each="server : ${servers['JIRA']}" th:object="${server}"
                                   th:onclick="|window.open('*{protocol}://*{domain}')|"
                                   style="padding-left: 10px;padding-right: 10px">任务跟踪</a>
                            </li>
                            <li role="presentation" class="dropdown" th:if="${#lists.size(servers['JIRA']) > 1}">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   style="padding-left: 10px;padding-right: 10px">任务跟踪<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="server : ${servers['JIRA']}" th:object="${server}">
                                        <a th:onclick="|window.open('*{protocol}://*{domain}')|" th:text="*{domain}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-leaf" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>文档协同</h1>

                    </div>

                    <div class="content_bottom">

                        <p>采用Confluence系统，为团队提供一个知识协同、Wiki、文档管理工具</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation" th:if="${#lists.size(servers['CONFLUENCE']) == 1}">
                                <a th:each="server : ${servers['CONFLUENCE']}" th:object="${server}"
                                   th:onclick="|window.open('*{protocol}://*{domain}')|"
                                   style="padding-left: 10px;padding-right: 10px">文档协同</a>
                            </li>
                            <li role="presentation" class="dropdown" th:if="${#lists.size(servers['CONFLUENCE']) > 1}">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   style="padding-left: 10px;padding-right: 10px">文档协同<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="server : ${servers['CONFLUENCE']}" th:object="${server}">
                                        <a th:onclick="|window.open('*{protocol}://*{domain}')|" th:text="*{domain}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-fire" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>测试管理</h1>

                    </div>

                    <div class="content_bottom">

                        <p>使用TestLink进行测试管理</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation">
                                <a th:href="${TESTLINK_SERVER.loginUrl}" style="padding-left: 10px;padding-right: 10px">测试管理</a>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-duplicate" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>持续集成</h1>

                    </div>

                    <div class="content_bottom">

                        <p>使用Jenkins进行持续集成</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation" th:if="${#lists.size(servers['JENKINS']) == 1}">
                                <a th:each="server : ${servers['JENKINS']}" th:object="${server}"
                                   th:onclick="|window.open('*{protocol}://*{domain}')|"
                                   style="padding-left: 10px;padding-right: 10px">持续集成</a>
                            </li>
                            <li role="presentation" class="dropdown" th:if="${#lists.size(servers['JENKINS']) > 1}">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   style="padding-left: 10px;padding-right: 10px">持续集成<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="server : ${servers['JENKINS']}" th:object="${server}">
                                        <a th:onclick="|window.open('*{protocol}://*{domain}')|" th:text="*{domain}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-folder-open" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>软件仓库</h1>

                    </div>

                    <div class="content_bottom">

                        <p>使用Nexus进行各二进制/可执行文件的版本管理</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation" th:if="${#lists.size(servers['ARTIFACT']) == 1}">
                                <a th:each="server : ${servers['ARTIFACT']}" th:object="${server}"
                                   th:onclick="|window.open('*{protocol}://*{domain}')|"
                                   style="padding-left: 10px;padding-right: 10px">软件仓库</a>
                            </li>
                            <li role="presentation" class="dropdown" th:if="${#lists.size(servers['ARTIFACT']) > 1}">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   style="padding-left: 10px;padding-right: 10px">软件仓库<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="server : ${servers['ARTIFACT']}" th:object="${server}">
                                        <a th:onclick="|window.open('*{protocol}://*{domain}')|"
                                           th:text="*{domain}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-list-alt" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>代码管理</h1>

                    </div>

                    <div class="content_bottom">

                        <p>采用 SVN 作为源代码管理工具</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation"
                                th:if="${(#lists.size(servers['SVN']) + #lists.size(servers['GIT'])) == 1}">
                                <a th:each="server : ${servers['SVN']}" th:object="${server}"
                                   th:onclick="|window.open('*{protocol}://*{domain}|')"
                                   style="padding-left: 10px;padding-right: 10px"
                                   th:if="${#lists.size(servers['SVN']) > 0}">代码管理</a>
                                <a th:each="server : ${servers['GIT']}" th:object="${server}"
                                   th:onclick="|window.open('*{protocol}://*{domain}')|"
                                   style="padding-left: 10px;padding-right: 10px"
                                   th:if="${#lists.size(servers['GIT']) > 0}">代码管理</a>
                            </li>
                            <li role="presentation" class="dropdown"
                                th:if="${(#lists.size(servers['SVN']) + #lists.size(servers['GIT'])) > 1}">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   style="padding-left: 10px;padding-right: 10px">代码管理<span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:each="server : ${servers['SVN']}" th:object="${server}">
                                        <a th:onclick="|window.open('*{protocol}://*{domain}')|" th:text="*{domain}"></a>
                                    </li>
                                    <li th:each="server : ${servers['GIT']}" th:object="${server}">
                                        <a th:onclick="|window.open('*{protocol}://*{domain}')|"
                                           th:text="*{domain}"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-hourglass" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>静态分析</h1>

                    </div>

                    <div class="content_bottom">

                        <p>使用sonarqube对代码进行静态分析，披露潜在缺陷</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation">
                                <a th:onclick="'javascript:window.open(\''+${SONAR_SERVER.urlContext}+'\');'"
                                   style="padding-left: 10px;padding-right: 10px">静态分析</a>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-th-large" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>监控管理</h1>

                    </div>

                    <div class="content_bottom">

                        <p>使用Zabbix监控各环境</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation">
                                <a href="http://10.214.178.66/zabbix/" style="padding-left: 10px;padding-right: 10px">监控管理</a>
                            </li>
                        </ul>

                    </div>

                </li>

                <li class="content_li">

                    <div class="content_top">

                        <i class="glyphicon glyphicon-modal-window" style="font-size:40px;top:30px;color:#3c8dbc;"></i>

                        <h1>运维管理</h1>

                    </div>

                    <div class="content_bottom">

                        <p>使用iTop管理事件、问题、变更</p>

                        <ul class="nav navbar-nav">
                            <li role="presentation">
                                <a href="http://10.214.169.130/itopzh2/web/pages/UI.php"
                                   style="padding-left: 10px;padding-right: 10px">运维管理</a>
                            </li>
                        </ul>

                    </div>

                </li>

            </ul>
        </div>

        <div class="content_body">
            <div class="row">
                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><h2 style="font-size: 18px;">在建项目</h2></span>
                            <span class="info-box-number" th:text="|${aggregate['START']}个|"></span>
                            <!--<span class="progress-description">
                                查看更多，请登录<i class="fa fa-hand-o-right" style="margin-left: 5px;"></i>
                            </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box">
                        <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><h2 style="font-size: 18px;">文档空间</h2></span>
                            <span class="info-box-number" th:text="|${confTotal}个|"></span>
                            <!--<span class="progress-description">
                                查看更多，请登录<i class="fa fa-hand-o-right" style="margin-left: 5px;"></i>
                            </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box">
                        <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><h2 style="font-size: 18px;">JIRA项目</h2></span>
                            <span class="info-box-number" th:text="|${jiraTotal}个|"></span>
                            <!--<span class="progress-description">
                                查看更多，请登录<i class="fa fa-hand-o-right" style="margin-left: 5px;"></i>
                            </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-box">
                        <span class="info-box-icon"><i class="ion ion-ios-pricetags-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><h2 style="font-size: 18px;">已完成项目</h2></span>
                            <span class="info-box-number" th:text="|${aggregate['END']}个|"></span>
                            <!--<span class="progress-description">
                                查看更多，请登录<i class="fa fa-hand-o-right" style="margin-left: 5px;"></i>
                            </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box">
                        <span class="info-box-icon"><i class="ion ion-ios-star-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><h2 style="font-size: 18px;">GIT代码库</h2></span>
                            <span class="info-box-number" th:text="|${gitTotal}个|"></span>
                            <!--<span class="progress-description">
                                查看更多，请登录<i class="fa fa-hand-o-right" style="margin-left: 5px;"></i>
                            </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                    <div class="info-box">
                        <span class="info-box-icon"><i class="ion ion-ios-star-half"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><h2 style="font-size: 18px;">SVN代码库</h2></span>
                            <span class="info-box-number"  th:text="|${svnTotal}个|"></span>
                            <!--<span class="progress-description">
                                查看更多，请登录<i class="fa fa-hand-o-right" style="margin-left: 5px;"></i>
                            </span>-->
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="login-form">
                        <form id="loginForm" th:action="@{/login}" method="post">
                            <div class="top">
                                <h1>登录</h1>
                                <h4>请输入用户名与密码</h4>
                            </div>
                            <div class="form-area">
                                <div th:if="${loginError}" class="group">
                                    <span th:text="${loginMsg}">用户名或密码错误</span>
                                </div>
                                <div th:if="${successLogout}" class="group">
                                    <span th:text="${loginMsg}">您已注销成功</span>
                                </div>
                                <div class="group">
                                    <input class="form-control" placeholder="username" id="username" name="username" type="text">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="group">
                                    <input class="form-control" placeholder="password" id="password" name="password" type="password">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div style="font-size:12px;margin-bottom: 2px;">
                                    <input type="checkbox" id="autoLogin" name="autoLogin"  value="0" onclick="this.value=(this.value==0)?1:0"/>
                                    <span style="vertical-align: top;margin-left: 5px;">下次自动登录</span>
                                    <a href="https://ssp.wdjr.local" style="float:right;">
                                        <i class="fa fa-external-link" style="position:relative;top:1px;left:-5px;"></i>重置密码</a>
                                </div>
                                <button type="submit" onclick="login()" class="btn btn-default btn-block">确定</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:include="section/footer :: footer"></footer>
<script th:src="@{/js/common/particles.min.js}"></script>
<script th:src="@{/js/common/particles.js}"></script>
<script th:src="@{/js/common/objectUtil.js}"></script>
<script th:src="@{/plugins/cookie/jquery.cookie.js}"></script>
<script>
    //主列表区域鼠标悬停显示详情
    $(document).ready(function () {
        if ($.cookie("rmbUser") == "true") {
            $("#autoLogin").attr("checked", true);
            $("#autoLogin").val(1);
            $("#username").val($.cookie("username"));
            $("#password").val($.cookie("password"));
        }
        $(".content_li").each(function (index) {
            $(".content_li").eq(index).mouseenter(function () {
                $(this).find(".content_top").stop().fadeOut(400);
            });
            $(".content_li").eq(index).mouseleave(function () {
                $(this).find(".content_top").stop().fadeIn(100);
            });
        });
    });

    function login() {
        if ($("#autoLogin").val() === '1') {
            var str_username = $("#username").val();
            var str_password = $("#password").val();
            $.cookie("rmbUser", "true", { expires: 7 }); //存储一个带7天期限的cookie
            $.cookie("username", str_username, { expires: 7 });
            $.cookie("password", str_password, { expires: 7 });
        } else {
            $.cookie("rmbUser", "false", { expire: -1 });
            $.cookie("username", "", { expires: -1 });
            $.cookie("password", "", { expires: -1 });
        }
    }

    function loginload() {
        //logout时存在问题，暂时坐在login页面强制跳转登录
        var parent = jQuery("#wrapper", window.parent.document);
        if (!isEmpty(parent)) {
            var wrapper = parent[0];
            if (!isEmpty(wrapper)) {
                top.location.href = "/";
            }
        }
    };
    loginload();
</script>
</html>
